@inherits LayoutComponentBase

<Layout>
    <LayoutHeader Display="Display.Flex" Flex="Flex.AlignItems.Center" Border="Border.Is1.OnBottom">
        <Span Margin="Margin.Is4.OnX.Is2.FromBottom" TextSize="TextSize.Heading1">Slider Bug Project</Span>
        <NavMenu />
    </LayoutHeader>
    <LayoutContent Padding="Padding.Is4">
        @Body
    </LayoutContent>
</Layout>
