<Div Display="Display.Flex"
     Style="height: 100%; width: 100%; max-width: 400px;">
    <FlexButton Color="Color.Primary" Href="/slider" Text="Slider" />
    <FlexButton Color="Color.Secondary" Href="/tabs" Text="Tabs" />
    <FlexButton Color="Color.Danger" Href="/tabsandslider" Text="Tabs and Slider" />
    <FlexButton Color="Color.Danger" Href="/tabsandselect" Text="Tabs and Select" />
</Div>
