@page "/"

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

<p>Use the nav buttons in the header to see the different examples. <a href="slider">Slider</a> and <a href="/tabs">Tabs</a> both work fine. <Link To="/tabsandslider" TextColor="TextColor.Danger">Tabs and Slider</Link> shows the error.</p>
