@page "/slider"

<PageTitle>Slider</PageTitle>

<h1>Slider</h1>

<p>This is just the <a href="https://blazorise.com/docs/components/slider" target="_blank">slider component.</a></p>
<p>It seems to be working fine.</p>

<hr />

<SliderComponent />
